* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="radio"] {
    display: none;
}
.app {
    background: #F6F6EC;
    width: 100%;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
}
.title {
    font-weight: 900;
    font-size: 2em;
    padding: .75em 0;
    border-bottom: .06em solid #D2D9E2;
}
.bayan {
    padding: 1em 0;
    cursor: pointer;
}
.bayan_item {
    padding: 1em 0;
    border-bottom: .06em solid #D2D9E2;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.bayan_item_title {
    font-weight: 900;
    font-size: 1.25em;
    color: #0059D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bayan_item_image {
    align-self: center;
    text-align: center;
    width: 0;
    height: 0;
    transform: scale(0, 0);
    transition: all .2s ease;
}
.bayan_item_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cross {
    width: 1.2em;
    height: 1.2em;
    transform: rotate(45deg);
    transition: all .2s ease;
    display: none;
}
.bayan_item input:checked ~ .bayan_item_image {
    width: 100%;
    height: 20em;
    transform: scale(1, 1);
    transition: all .2s ease;
}
.bayan_item input:checked ~ .bayan_item_title {
    color: #000;
}
.bayan_item input:checked ~ .bayan_item_title .cross {
    transform: rotate(0);
    transition: all .2s ease;
}
@media (hover: hover) {
    .bayan:hover .bayan_item_title {
        color: #000;
    }
    .bayan:hover .cross {
        display: block;
    }
    .bayan_item:hover .cross {
        transform: rotate(0);
        transition: all .2s ease;
    }
    .bayan_item:hover .bayan_item_image {
        width: 100%;
        height: 20em;
        transform: scale(1, 1);
        transition: all .2s ease;
    }
}
@media (max-width: 1920px) {
    .container {
        max-width: 70vw;
        width: 100%;
        margin: 0 auto;
        padding: 0 1.2em;
    }
    .app {
        font-size: 1.2em;
    }
}
@media (max-width: 820px) {
    .bayan_item input:checked ~ .bayan_item_image {
        height: 10em;
    }
    .bayan_item:hover .bayan_item_image {
        height: 10em;
    }
    .container {
        max-width: 90vw;
    }
    .app {
        font-size: 1.5em;
    }
}
@media (max-width: 320px) {
    .bayan_item input:checked ~ .bayan_item_image {
        height: 100%;
    }
    .bayan_item:hover .bayan_item_image {
        height: 100%;
    }
    .app {
        font-size: 2em;
    }
}
